<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=(Local);Pooling=False;Max Pool Size = 1024;Initial Catalog=ERP;Persist Security Info=True;User ID=sa;Password=sa123;"
      providerName="System.Data.SqlClient" />
    <add name="easyERP.Properties.Settings.ERPConnectionString" connectionString="Data Source=NANA;Initial Catalog=ERP;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>